<footer class="bg-light text-center text-white">
 

  <!-- Copyright -->
  <div id=subfoot class="container" style="background-color: rgba(0, 0, 0, 0.2);">
    <div class="row mb-5">
      <div class="left">
    © 2024 Copyright: Senior Meet
    <a class="mt-4 mb-3" routerLink="/home">
      <img src="/assets/img/log sm.png" alt="Logo Senior Meet" style="max-width: 60px" />
    </a>
    <div class="mt-2"><p>Escreva para  <a href="mailto:seniormeetgmail.com">seniormeet</a></p>
    </div>
    </div>
  </div>
   
      <div class="right" style="top: 2rem;">   
           
        <ul class="list-unstyled mb-0">
        <li>
          <a [routerLink]="['/about-us']">Sobre Nosotres</a>    
        </li>
        <li>
          <a [routerLink]="['/condiciones']">Términos de uso</a>
        </li>
        <li>
          <a [routerLink]="['/advisors']">Seguridad</a>
        </li>
      </ul>
        </div>
      </div>
   
     
 



  
  <!-- Copyright -->
</footer>
