<div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Alerta de Seguridad:</strong>
          <h3 class="mb-0">El servicio oficial de teleasistencia nunca solicitará tus datos personales por teléfono</h3>
          <div class="mb-1 text-muted">01 Mayo 2024</div>
          <p class="card-text mb-auto">Si recibes una llamada pidiéndote información personal y afirmando ser parte de nuestro equipo, no proporciones ningún dato. 
            En caso de dudas, presiona el botón rojo de tu medallita  para contactarnos directamente y verificar la situación.
            <p class="card-text"><strong>Mantén tu información segura.</strong></p>
          <a download="Nombre-del-archivo" href="http://localhost:4200/assets/Manual-de-Instrucciones-del-Terminal-de-Teleasistencia-y-UCR.pdf" class="stretched-link">Descargar manual de teleasistencia.</a>
           
        </div>
        <!-- <div class="col-auto d-none d-lg-block"> -->
           
        <!-- </div> -->
      </div>
    </div>

        <div class="col-md-6">
    <img src="http://localhost:8080/files/terminal_teleasistencia.png" alt="terminal_teleasistencia"
            class="img-fluid" style="width: 300px;">
  </div>
    </div>