



<div class="container-fluid">
  <div class="row mb-5">
    <div class="col-lg-8">
      
        <div class=" bg-body-tertiary rounded">
          <h3 class="text-center"> Últimas publicaciones </h3>
          
        </div>

    </div>
    <div class="col-lg-8">
      <!-- <img src="../../assets/img/4cf7c196-2fe5-4264-8543-d9a67ead932a.jpg"> -->
      <ngb-carousel>
        @for (post of posts; track post.id) {
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="img-fluid" [src]="'http://localhost:4200/assets/img/' + post.photoUrl" alt="{{post.id}}" />
          </div>
          <div class="carousel-caption">
            
          </div>
          <h3>{{post.content}}</h3>
           
          @if (comments) {
            @for(comment of comments; track comment){
              <h5 class="my-3">{{comment.user.firstName}} - {{comment.content}}</h5>
            }
            <h5 class="my-3">Total: {{comments.length}} comentarios</h5>
          } @else{
           <h5 class="my-3">No hay comentarios</h5>
          }
          
        </ng-template>
        
        }
      </ngb-carousel>
    </div>
    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-body-tertiary rounded">
          <h4 class="text-center">CREA TU PUBLICACIÓN</h4>
          <button class="btn btn-primary" justify conter [routerLink]="['/posts/create']">CREAR</button>
        </div>
        
        <div>
          <h4 class="fst-italic">GRUPOS</h4>
          <ul class="list-unstyled">
            <li>
                
                <div class="col-lg-12">                  
                  <ngb-carousel>
                    @for (group of groups; track group.id) {
                    <ng-template ngbSlide>
                      <div class="picsum-img-wrapper">
                        <img class="img-fluid" [src]="'http://localhost:8080/files/' + group.photoUrl" alt="{{group.title}}" />
                      </div>
                      <div class="carousel-caption">
                        <h6 [routerLink]="['/groups', group.id, 'detail']" style="cursor:pointer;">{{group.title}}</h6>                       
                      </div>
                    </ng-template>
                    }
                  </ngb-carousel>
                </div>
           
            </li>
           </ul>
        </div>

        
        <div>
          <h4 class="fst-italic">AFICIONES</h4>
          <ul class="list-unstyled">
            <li>
              <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                
                <div class="col-lg-8">                  
                  <ngb-carousel>
                    @for (hobby of hobbies; track hobby.id) {
                    <ng-template ngbSlide>
                      <div class="picsum-img-wrapper">
                        <img class="img-fluid" [src]="'http://localhost:8080/files/' + hobby.photoUrl" alt="{{hobby.name}}" />
                      </div>
                      <div class="carousel-caption">
                        <h6>{{hobby.name}}</h6>                       
                      </div>
                    </ng-template>
                    }
                  </ngb-carousel>
                </div>
              </a>
            </li>
            <li>
              
            </li>

            </ul>
            
        </div>

        <div class="position-sticky" style="top: 2rem;">
          <div class="p-4 mb-3 bg-body-tertiary rounded">
            <h4 class="fst-italic">Deje aquí su sugerencia</h4>
            <button class="btn btn-primary" justify conter [routerLink]="['/suggestions']">Sugerencias</button>
          </div>
      </div>
    </div>
  </div>
</div>

<!-- 
<div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card" style="">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted mi-fuente">Card subtitle</h6>
                    <p class="card-text mi-fuente">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
</div>

<hr>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top" alt="Skyscrapers"/>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in to
            additional content. This content is a little bit longer.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/043.webp" class="card-img-top" alt="Los Angeles Skyscrapers"/>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp" class="card-img-top" alt="Palm Springs Road"/>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in to
            additional content. This card has even longer content than the first to show
            that equal height action.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>

  <hr> -->

