<div class="container-fluid">
  <div class="row mb-5">

    <div class="col-lg-8" >
      
     
      <div class="col-md-16" style="top: 2rem;" style="background-color:white;">
               
        <article class="blog-post">
          <h2 class="text-center mt-2 pb-10 mb-4" style="background-color:white;" ><strong>
            Últimas publicaciones
          </strong></h2>
          
          <div class="card-body" style="background-color:white;">
            <div class="row">

          @for (post of posts; track $index) {
            <div class="card mb-3 text-center">
            <h2>
              {{post.content}}
            </h2>
            <div class="picsum-img-wrapper-center">
              <img class="img-fluid" [src]="'http://localhost:8080/files/' + post.photoUrl" alt="{{post.id}}" />
            </div>
            @if (post.user) {
              
              <img src="http://localhost:8080/files/{{post.user.photoUrl}}" alt="avatar"
                              class="rounded-circle img-fluid" style="width: 45px;">
                              <h5>Publicado por: {{post.user.firstName}}</h5>
            }
            <button [routerLink]="['/posts', post.id, 'detail']" >Ver publicación</button>
            <!-- @if (post.interactions && post.interactions.length > 0){
              @for (interaction of post.interactions; track interaction.id) {
                <p>{{interaction.type}}</p>
              }
            } -->
          </div> 
          }

        </div>
      </div>
          
 

        </article>
        <nav class="blog-pagination" aria-label="Pagination">
          <a class="btn btn-outline-primary rounded-pill" routerLink="/posts">Ver más</a>
        </nav>
  
      </div>
      
      
    </div>
    <div class="col-lg-4 rounded" style="background-color:#FF7D00;">
      <div class="text-center mb-2">
        
      </div>

      <div class="position-sticky" style="top: 2rem;" >
        
        <div class="p-4 mb-3 text-center bg-body-tertiary rounded">
          <h4 class="text-center"><strong>CREA TU PUBLICACIÓN</strong></h4>
          <button id="button" class="btn btn-primary" justify conter [routerLink]="['/posts/create']">CREAR</button>
        </div>
       
        <div>
          <h4 class="text-center"><strong>GRUPOS</strong></h4>
          <ul class="list-unstyled">
            <li>

                <div class="col-lg-12">
                  <ngb-carousel>
                    @for (group of groups; track group.id) {
                    <ng-template ngbSlide>
                      <div class="picsum-img-wrapper">
                        <img class="img-fluid" [src]="'http://localhost:8080/files/' + group.photoUrl" alt="{{group.title}}" />
                      </div>
                      <div class="carousel-caption">
                        <h5 [routerLink]="['/groups', group.id, 'detail']" style="cursor:pointer;color:#15616D;background-color:white;font-weight:900;">{{group.title}}</h5>
                      </div>
                    </ng-template>
                    }
                  </ngb-carousel>
                </div>

            </li>
           </ul>
        </div>


        <div>
          <h4 class="text-center mb-2"><strong>AFICIONES</strong></h4>
          <ul class="list-unstyled">
            <li>

                <div class="col-lg-12">
                  <ngb-carousel>
                    @for (hobby of hobbies; track hobby.id) {
                    <ng-template ngbSlide>
                      <div class="picsum-img-wrapper">
                        <img class="" [src]="'http://localhost:8080/files/' + hobby.photoUrl" alt="{{hobby.name}}" />
                      </div>
                      <div class="carousel-caption">
                        <h5 [routerLink]="['/hobbies', hobby.id, 'detail']" style="cursor:pointer;color:#15616D;background-color:white;font-weight:900;">{{hobby.name}}</h5>
                      </div>
                    </ng-template>
                    }
                  </ngb-carousel>
                </div>

            </li>

            

            </ul>

        </div>

        <button class="btn btn-primary btn-lg w-100 mb-2" type="button"  routerLink="/advisors">
          <span class="spinner-grow spinner-grow-sm me-2" style="color:chartreuse;" role="status" aria-hidden="true"></span>
          <span>Aviso Importante</span>
        </button>

       
      
    </div>
  </div>
</div>

