UserLogin Component
<main class="form-signin w-100 m-auto">
  <form [formGroup]="loginForm" (ngSubmit)="save()">
    <!-- <img class="mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
    <h1 class="h3 mb-3 fw-normal">Iniciar sesión</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="email" placeholder="name@example.com" formControlName="email">
      <label for="email">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
      <label for="password">Password</label>
    </div>

    <button class="btn btn-primary w-100 py-2" type="submit">Iniciar sesión</button>
    <p class="mt-5 mb-3 text-body-secondary">©2024 - Senior Meet</p>
  </form>
</main>
