
<div class="container">
    <h1 class="mt-5">Equipo Senior Meet</h1>
    <h3 class="py-6 text-3xl font-medium">Somos un equipo diverso y ambicioso</h3>
    <p class="text-lg">No nos damos por vencidos fácilmente, nos gustan los retos y nos mueve poder crear un impacto
        real en la sociedad <br><br>Vamos creciendo en número y deseamos poder crear inspiración en más ciudades de todo
        el mundo</p>

    <div class="rounded">
        <a class="mt-4 mb-3">
            <img src="/assets/img/equipo.png" alt="Equipo" style="width: fluid" />
        </a>
    </div>

    <div class="p-4 mb-3 text-center bg-body-tertiary rounded">
        <a
            href="mailto:seniormeet@gmail.com"><button
                type="button"
                class="btn btn-primary">Trabaja
                con nosotros</button></a></div>
</div>