
<div class="container">
    <h1 class="mt-5">Equipo Senior Meet</h1>
    <h3 class="py-6 text-3xl font-medium">Somos un equipo diverso y ambicioso</h3>
    <p class="text-lg">No nos damos por vencidos fácilmente, nos gustan los retos y nos mueve poder crear un impacto
        real en la sociedad <br><br>Vamos creciendo en número y deseamos poder crear inspiración en más ciudades de todo
        el mundo</p>
    <div class="my-6 flex flex-col justify-center sm:flex-row sm:justify-start"><a
            href="mailto:seniormeet@gmail.com"><button
                type="button"
                class="inline-flex items-center focus-visible:ring-primary-500 focus:outline-none focus-visible:ring px-8 py-4 text-2xl rounded-2xl bg-warn-800 bg-gradient-to-b from-[#FD3A5A] font-semibold text-white shadow-lg transition-colors duration-300 hover:bg-primary-900 hover:text-white active:bg-primary-900 disabled:opacity-50 disabled:cursor-not-allowed w-full justify-center">Trabaja
                con nosotros</button></a></div>
</div>