<main class="form-signin w-100 m-auto">
  <form [formGroup]="registerForm" (ngSubmit)="save()">
    <h1 class="h3 mb-3 fw-normal">Crear nueva cuenta</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="email" placeholder="name@example.com" formControlName="email">
      <label for="email">Email address</label>
      @if (registerForm.controls.email.touched && registerForm.controls.email.errors) {
        <div>
          @if (registerForm.controls.email.errors['required']) {
            <small class="text-danger">Email es obligatorio.</small>
          }
          @if (registerForm.controls.email.errors['email']) {
            <small class="text-danger">El formato del email introducido es incorrecto.</small>
          }
        </div>
      }
    </div>

    <div class="form-floating">
      <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password" min="8" max="12">
      <label for="password">Password</label>
    </div>

    <div class="form-floating">
      <input type="password" class="form-control" id="passwordConfirm" placeholder="Password" formControlName="passwordConfirm" min="8" max="12">
      <label for="passwordConfirm">Confirmación password</label>

      @if(
        registerForm.controls.passwordConfirm.touched &&
          (
          registerForm.controls.password.errors ||
          registerForm.controls.passwordConfirm.errors ||
          registerForm.getError('confirmError')
          )
        ) {
          <small class="text-danger">
            La contraseña y confirmación son obligatorias, deben coincidir y estar comprendidas entre 8 y 12 caracteres.
          </small>
      }
    </div>

    <button class="btn btn-primary w-100 py-2" type="submit" [disabled]="registerForm.invalid">Registrarse</button>
    @if (registerForm.invalid){
      <small class="text-danger">Debes completar de forma correcta los campos para poder guardar.</small>
    }
    @if (errorMessage && errorMessage.length > 0) {
      <small class="text-danger">{{errorMessage}}</small>
    }
    <!-- @if (successMessage) {
      <small class="text-danger">{{successMessage}}</small>
    } -->
  </form>
</main>
