<!-- <nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a routerLink="/home">
      <img
        src="/assets/img/log sm.png"
        alt="Logo Senior Meet"
        style="max-width: 40px"
      />
    </a>
    <a routerLink="/user-profile">
      <img
        src="/assets/img/old-woman-5893415_640.jpg"
        alt="perfil"
        style="max-width: 70px"
      />
    </a>
    <a routerLink="/saved">
      <i class="bi bi-bookmark-heart"></i>
    </a>
    <form class="d-flex input-group w-auto">
      <input
        type="search"
        type="search"
        class="form-control rounded"
        placeholder="Search"
        aria-label="Search"
      />
      <span class="input-group-text border-0" id="search-addon">
        <i class="fas fa-search"></i>
      </span>
    </form>
  </div>
</nav> -->


<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card" style="">
            <div class="card-body">
                <h5 class="card-title">Caminatas</h5>
                <h6 class="card-subtitle mb-2 text-muted">Pasear por el parque, la playa o la ciudad. </h6>
                <p class="card-text">Caminar es una excelente manera de mantenerse activo y 
                  disfrutar del entorno.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="">
            <div class="card-body">
                <h5 class="card-title">Baile</h5>
                <h6 class="card-subtitle mb-2 text-muted">Bailar solo o en grupo.</h6>
                <p class="card-text">'El baile es alegría, ejercicio y una forma maravillosa de expresarse.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="">
            <div class="card-body">
                <h5 class="card-title">Escritura</h5>
                <h6 class="card-subtitle mb-2 text-muted">Escribir historias, poemas o llevar un diario personal.</h6>
                <p class="card-text"> La escritura es una excelente manera de expresar pensamientos y sentimientos, y
                   puede ser una actividad muy gratificante.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
  </div>
  
  <hr>
  
  <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
  <div class="card h-100">
    <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top" alt="Skyscrapers"/>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        This is a wider card with supporting text below as a natural lead-in to
        additional content. This content is a little bit longer.
      </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  </div>
  <div class="col">
  <div class="card h-100">
    <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/043.webp" class="card-img-top" alt="Los Angeles Skyscrapers"/>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  </div>
  <div class="col">
  <div class="card h-100">
    <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp" class="card-img-top" alt="Palm Springs Road"/>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        This is a wider card with supporting text below as a natural lead-in to
        additional content. This card has even longer content than the first to show
        that equal height action.
      </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  </div>
  </div>
  
  <hr>
