
<form class="card-body shadow rounded mt-3" [formGroup]="postForm" (ngSubmit)="save()">

  <input type="hidden" formControlName="id">

  <div class="form-floating mb-3">
    <textarea class="form-control custom-textarea" id="content" placeholder="Escribe tu post"
              formControlName="content" maxlength="512" style="height: 200px; overflow-y: scroll;"></textarea>
    <label for="content">Contenido del Post</label>
  </div>
    
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="photoUrl"
      placeholder="Foto Url del  Post" formControlName="photoUrl">
      <label for="content">Foto Url</label>
    </div>

    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="photoUrl"
      placeholder="Video Url del  Post" formControlName="videoUrl">
      <label for="content">Video Url</label>
    </div>

    <!-- Selector simple -->
    <select class="form-select form-select-lg mb-3" formControlName="group">
      <option value="" selected disabled hidden>Grupo</option>
      <option value="" selected>Elija grupo:</option>
      @for (group of groups;track group.id){
        <option [ngValue]="group"> {{group.title}} </option>
      }
    </select>

    
    <div class="text-end">
      <button class="btn btn-lg btn-outline-secondary ml-auto" type="submit"><i class="bi bi-floppy-fill text-primary"></i></button>
    </div>

</form>

