
<div class="d-flex flex-column flex-sm-row justify-content-between">
  <h1>{{title}}</h1>
  <ul class="list-unstyled d-flex mt-3">
    <i class="me-1 bi bi-github"></i>
    <i class="me-1 bi bi-twitter"></i>
    <i class="me-1 bi bi-youtube"></i>
    <i class="me-1 bi bi-instagram"></i>
    <i class="me-1 bi bi-x"></i>
    <i class="me-1 bi bi-tiktok"></i>
  </ul>
</div>
<app-nav-bar></app-nav-bar>

<main style="min-height:500px;">
  <router-outlet></router-outlet>
</main>

<app-footer></app-footer>

