<main>
  <button [routerLink]="['/posts/create']" class="btn btn-lg btn-outline-secondary text strong mb-3"><i class="bi bi-pencil-square bi-lg"></i></button>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        @if (posts && posts.length > 0) {
          <!-- Iterar sobre los posts y mostrar las tarjetas -->
          @for (post of posts; track post.id) {
            <div class="col">
              <div class="card shadow-sm">
                <!-- Contenido de la tarjeta de cada post -->
                <div class="d-flex flex-column align-items-center">
                  <img src="http://localhost:8080/files/{{post.user.photoUrl}}" alt="avatar"
                      class="rounded-circle img-fluid" style="width: 150px;">
                  <h5 class="my-3 fw-bold">{{post.user.firstName}} {{post.user.lastName}}</h5>
                  @if (post.group) {
                    <h5 class="my-3 fw-bold">en {{post.group.title}}</h5>
                  }
                  <h5 class="my-3 text muted small">{{formatDateTime(post.date.toString())}}</h5>
                  <div class="card-body shadow rounded">
                    <h5 class="my-3">{{ post.content.length > 80 ? post.content.slice(0, 80) + '...' : post.content }}</h5>
                  </div>
              </div>
                <div class="card-body">
                  <!-- Botones de acción para cada post -->
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button [routerLink]="['/posts', post.id, 'detail']" class="btn btn-sm btn-outline-secondary me-2"><i class="bi bi-search"></i></button>
                      @if (isAdmin ||isPostfromUser(post)){
                        <button [routerLink]="['/posts', post.id, 'update']" class="btn btn-sm btn-outline-secondary me-2"><i class="bi bi-pencil"></i></button>
                        <button class="btn btn-sm btn-outline-secondary me-2" (click)="deletePost(post.id)"><i class="bi bi-trash"></i></button>
                      }
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          }
        } @else {
          <!-- Mostrar la alerta si no hay posts -->
          <div class="col container-fluid card shadow-sm">
            <div class="alert alert-primary" role="alert">
              No hay posts!!
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</main>
