

<div class="container">
  <div class="row">
    <div class="col-lg-8">

      <h1 class="my-5">Introducir datos del grupo</h1>

      <form [formGroup]="groupForm" (ngSubmit)="save()">

        <input type="hidden" formControlName="id">

        <div class="form-floating mb-3">
          <input type="text" class="form-control"
          id="title" formControlName="title">
          <label for="title">Titulo</label>
        </div>

        <div class="form-floating mb-3">
          <input type="text" class="form-control"
          id="description" formControlName="description">
          <label for="description">Descripción</label>
        </div>


        <input type="hidden" formControlName="photoUrl">

        <div class="input-group mb-3">
          <input type="file" class="form-control" id="photo" (change)="onFileChange($event)">
        </div>

        <div class="form-floating mb-3">
          <textarea class="form-control"
            placeholder="Leave a comment here" id="rules" formControlName="rules" style="min-height: 120px;">
          </textarea>
          <label for="rules">Normas del grupo</label>
        </div>

        <button class="w-100 btn btn-primary btn-lg mb-5 mt-5" type="submit">Guardar</button>
      </form>

    </div>
    <div class="col-lg-4">

      @if (photoPreview) {
        <h2 class="my-5">Previsualización foto</h2>
        <img class="img-fluid" [src]="photoPreview">
      }
      @if (!photoPreview && group?.photoUrl) {
        <h2 class="my-5">Previsualización foto</h2>
        <img class="img-fluid" [src]="'http://localhost:8080/files/' + group?.photoUrl">
      }

    </div>
  </div>
</div>