<p>group-form works!</p>
<form [formGroup]="groupForm" (ngSubmit)="save()">

    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="title"
      placeholder="Angular avanzado" formControlName="title">
      <label for="title">Nombre del grupo</label>
    </div>

    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="description" formControlName="description" >
      <label for="description"></label>
    </div>

    <div class="form-check mb-3">
      <input class="form-check-input" type="checkbox" id="available" formControlName="available">
      <label class="form-check-label" for="available" style="cursor:pointer;">
        Disponible para venta (sí o no)
      </label>
    </div>

    <div class="form-floating mb-3">
      <input type="datetime-local" class="form-control" id="publishDate" formControlName="publishDate">
      <label for="publishDate">Fecha de publicación del libro</label>
    </div>

    <!-- Selector simple -->
    <select class="form-select form-select-lg mb-3" formControlName="category">
      <option selected>Open this select menu</option>
      <option value="category1">category1</option>
      <option value="category2">category2</option>
      <option value="category3">category2</option>
    </select>


    <!-- Selector múltiple -->
    <select class="form-select form-select-lg mb-3" formControlName="topics" multiple>
      <option selected>Open this select menu</option>
      <option value="topic1">topic1</option>
      <option value="topic2">topic2</option>
      <option value="topic3">topic3</option>
      <option value="topic4">topic4</option>
      <option value="topic5">topic5</option>
    </select>


      <button class="btn btn-success" type="submit">Enviar</button>

  </form>
