<!-- terms-of-use.component.html -->
<div class="container">
    <h1 class="mt-5 text-center">CONDICIONES DE USO WEB</h1>
  
    <h2 class="mt-5"><strong>Objeto y contenido del sitio web</strong></h2>
    <p class="text-align">
      Las presentes Condiciones de Uso tienen por objeto regular el acceso, la navegación y el uso de la página web de Senior Meet (www.seniormeet.com) y en la aplicación Senior Meet (Play Store y Apple Store), así como otros canales de comunicación con el cliente. Los datos del titular del Sitio Web se facilitan a continuación:
    </p>
  
    <ul>
      <li><strong>Titular:</strong> Senior Meet Community Inc Sucursal en España SL. («Senior Meet»);</li>
      <li><strong>Registro:</strong> Registro Mercantil de Madrid entrada 985938964, diario 1384, asiento 3454, serie 001/2022/42094785;</li>
      <li><strong>Domicilio:</strong> España, Madrid, Corazón de Maria, 67;</li>
      
      <li><strong>Sitio web:</strong> <a href="https://www.seniormeet.com"> www.seniormeet.com</a></li>
    </ul>
  
    <p class="text-align">
      El acceso, la navegación o el uso del Sitio Web implican la aceptación de la totalidad de las estipulaciones previstas en las presentes Condiciones, así como de la Política de Privacidad o Protección de Datos y la Política de Cookies.
    </p>
    <h2 class="mt-5"><strong>Responsabilidad</strong></h2>
    <p class="text-align">
        El Usuario responderá de los daños y perjuicios de toda naturaleza que Senior Meet pueda sufrir como consecuencia del incumplimiento de cualquiera de las obligaciones de estas condiciones de uso.

El Usuario se compromete a utilizar el Sitio Web de conformidad con la Ley, las presentes condiciones de uso, las buenas costumbres y el orden público. Del mismo modo, el Usuario se obliga a no utilizar el sitio Web, sus contenidos o servicios que se presten a través de asta con fines o efectos ilícitos, siendo contrarios a estas condiciones, o lesivos de intereses o derechos de terceros, o que, de cualquier otra forma, pueda dañar, inutilizar, hacer inaccesibles o deteriorar la Web, sus contenidos o impedir un normal uso de la misma por parte de otros usuarios.

Cláusula de no garantía en los servicios contratados
Senior Meet no ofrece ninguna garantía con respecto la exactitud, la calidad, la fiabilidad, legalidad o no violación de derechos por parte de los Prestadores de Servicios.

En este sentido, los Usuarios manifiestan que comprenden que Senior Meet es una empresa independiente que pone en contacto clientes y Prestadores de Servicios y que no asume responsabilidad alguna derivada de las actuaciones llevadas a cabo por los Prestadores de Servicios ni por los daños o pérdidas que eventualmente pudieran sufrir por un incumplimiento de las presentes Condiciones de Uso. Por ello, Senior Meet no será nunca responsable ni de la disponibilidad de los Prestadores de Servicios ni del cumplimiento adecuado y satisfactorio de los servicios por parte de éstos.
    </p>
    <h2 class="mt-5"><strong>Modificación del contenido y las condiciones</strong></h2>
    <p class="text-align">Senior Meet podrá añadir nuevas funcionalidades al Sitio Web y/o modificar las actuales Condiciones. En ese caso, se publicará la actualización en el Sitio Web para que el Usuario tenga conocimiento de cualquier cambio. Si el Usuario no estuviera de acuerdo con las nuevas condiciones, dispondrá de un plazo de quince días naturales desde la comunicación para resolver el contrato mediante comunicación fehaciente a Senior Meet. El transcurso del referido plazo sin que el Usuario haya manifestado nada en contrario, implicará la plena aceptación de las nuevas condiciones.</p>
    <h2 class="mt-5"><strong>Jurisdicción y legislación aplicable</strong></h2>
    <p>
        El presente Aviso Legal se regirá e interpretará con arreglo a la legislación española. Cualquier controversia que pudiera derivarse del acceso o la utilización del Sitio Web se someterá a la exclusiva jurisdicción de los Juzgados y Tribunales de Barcelona, sin perjuicio de que resulte de aplicación alguna disposición imperativa en contrario, en cuyo caso se estará al contenido de la misma.  
    </p>
  </div>
  