<p>post-detail works!</p>

@if (post) {
    <section style="background-color: #eee;">
      
          <div class="row">
            <div class="col-lg-4">
              <div class="card mb-4">
                <div class="card-body text-center">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                    class="rounded-circle img-fluid" style="width: 150px;">
                  <h5 class="my-3">USUARIO: {{post.user.firstName}}</h5>
                  <h5 class="my-3">CONTENIDO: {{post.content}}</h5>
                  <h5 class="my-3">FOTO URL: {{post.photoUrl}}</h5>
                  <h5 class="my-3">VIDEO URL: {{post.videoUrl}}</h5>
                  <h5 class="my-3">GRUPO: {{post.group?.title}}</h5>
                  <h5 class="my-3">COMENTARIOS: {{post.comments}}</h5>


                  <div class="d-flex justify-content-center mb-2">
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button [routerLink]="['/post', post.id, 'add-interaction/megusta']" class="btn btn-sm btn-outline-secondary">Me gusta</button>
                        <button [routerLink]="['/post', post.id, 'add-interaction/guardar']" class="btn btn-sm btn-outline-secondary">Guardar</button>
                      </div>
                      <small class="text-body-secondary"></small>
                    </div>


                  </div>
                </div>
              </div>

             
            <div class="col-lg-8">
              <div class="card mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Contenido</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{post.content}}</p>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>     
    </section>
}