@if (post) {
  <section class = "card-body container-fluid" style="background-color: #eee;">

    <div class="row justify-content-center">
      <div class="col-lg-12 ">
        <div class="card mb-4">
          <div class="card-body">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
            class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">USUARIO: {{post.user.firstName}}</h5>
            <h5 class="my-3">CONTENIDO: {{post.content}}</h5>
            <h5 class="my-3">FOTO URL: {{post.photoUrl}}</h5>
            <h5 class="my-3">VIDEO URL: {{post.videoUrl}}</h5>
            @if(post.group){
              <h5 class="my-3">GRUPO: {{post.group.title}}</h5>
            }@else {
              <h5 class="my-3">GRUPO: No hay grupo</h5>
            }
            <h5 class="my-3 text muted small">{{post.date}}</h5>
            
            

            
            <div class="d-inline-block">
              @if(likes.length > 0) {
                <h5 class="my-3 d-inline-block">{{likes.length}} <button class="btn btn-sm btn-outline-secondary" (click)="addlike()"><i class="bi bi-heart-fill"></i></button></h5>
              } @else {
                <button class="btn btn-sm btn-outline-secondary d-inline-block" (click)="addlike()"><i class="bi bi-heart-fill text-danger"></i></button>
              }
          
              @if(saves.length > 0) {
                <h5 class="my-3 d-inline-block">{{saves.length}} <button class="btn btn-sm btn-outline-secondary" (click)="addsave()"><i class="bi bi-floppy-fill"></i></button></h5>
              } @else {
                <button class="btn btn-sm btn-outline-secondary d-inline-block" (click)="addsave()"><i class="bi bi-floppy-fill text-primary"></i></button>
              }

              @if (comments.length >0) {
                <h5 class="my-3 d-inline-block">{{comments.length}} <button class="btn btn-sm btn-outline-secondary text-success" (click)="toggleComments()"><i class="bi bi-chat-text-fill"></i></button></h5>
                
                <div [style.display]="mostrarComments ? 'block' : 'none'" class="mb-3">
                  @for(comment of comments; track comment){
                    <div class="card-body shadow rounded">
                      <h5 class="my-3">{{comment.user.firstName}} - {{comment.content}}</h5>
                      <h5 class="my-3 text muted small">{{comment.date}}</h5>
                    </div>
                    
                  }
                  
                </div>
              } @else{
               <h5 class="my-3"><i class="bi bi-chat-text"></i></h5>
              }
            </div>  

            
            <div>
              <form [formGroup]="commentForm" (ngSubmit)="saveComments()" class="mb-2">
                <div class="form-floating mb-1">
                  <input type="text" class="form-control" id="content" placeholder="Escribe tu comentario" formControlName="content">
                  <label for="content">Añade un comentario</label>
                </div>
                
                <div class="text-end">
                  <button class="btn btn-success ml-auto" type="submit"><i class="bi bi-save"></i></button>
                </div>
                
              </form>
            </div>

          </div>
        </div>

        
      </div>
    </div>

    
        
  </section>
}