<p>user-list works!</p>
<hr>

<div class="whos-speaking-area speakers pad100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <div class="title-text mb50">
                        <h2>Nuestra gente</h2>
                    </div>
                </div>
            </div>
            <!-- /col end-->
        </div>
        <!-- /.row  end-->
        <div class="row mb50">
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12">
                <a href="/users/1/detail" class="card-link">
                <div class="speakers xs-mb30">               
                    <div class="spk-img">
                        <img class="img-fluid" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="trainer-img" />
                        <!-- <ul>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-camera"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-life-ring"></i></a>
                            </li>
                        </ul> -->
                    </div>
                    <div class="spk-info">
                        <h3>Harman Kardon</h3>
                        <p>CEO,Mockplus</p>
                    </div>
                </div></a>
            </div>
            <!-- /col end-->
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12">
                <div class="speakers xs-mb30">
                    <div class="spk-img">
                        <img class="img-fluid" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="trainer-img" />
                        <ul>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-camera"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-life-ring"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="spk-info">
                        <h3>Toni Duggan</h3>
                        <p>GM, Pixelperfect</p>
                    </div>
                </div>
            </div>
            <!-- /col end-->
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12">
                <div class="speakers xs-mb30">
                    <div class="spk-img">
                        <img class="img-fluid" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="trainer-img" />
                        <ul>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-camera"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-life-ring"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="spk-info">
                        <h3>Philipp Lahm</h3>
                        <p>Digital photography</p>
                    </div>
                </div>
            </div>
            <!-- /col end-->
            <div class="col-xl-3 col-lg-3 d-md-none d-lg-block col-sm-12">
                <div class="speakers">
                    <div class="spk-img">
                        <img class="img-fluid" src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="trainer-img" />
                        <ul>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-camera"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-life-ring"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="spk-info">
                        <h3>Lieke Martens</h3>
                        <p>CEO, Animation Studios</p>
                    </div>
                </div>
            </div>
            <!-- /col end-->
        </div>
        <!-- /row end-->
        <div class="row">
            <div class="offset-2 no-gutter"></div>
            <!-- /col end-->
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12">
                <div class="speakers xs-mb30">
                    <div class="spk-img">
                        <img class="img-fluid" src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="trainer-img" />
                        <ul>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-camera"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-life-ring"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="spk-info">
                        <h3>Fara Williams</h3>
                        <p>Designer, Treehouse</p>
                    </div>
                </div>
            </div>
            <!-- /col end-->
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12">
                <div class="speakers xs-mb30">
                    <div class="spk-img">
                        <img class="img-fluid" src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="trainer-img" />
                        <ul>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-camera"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-life-ring"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="spk-info">
                        <h3>Manuel Neuer</h3>
                        <p>CEO, Spingboard</p>
                    </div>
                </div>
            </div>
            <!-- /col end-->
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12">
                <div class="speakers">
                    <div class="spk-img">
                        <img class="img-fluid" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="trainer-img" />
                        <ul>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-camera"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-life-ring"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="spk-info">
                        <h3>Lieke Martens</h3>
                        <p>Digital photography</p>
                    </div>
                </div>
            </div>
            <!-- /col end-->
        </div>
        <!-- /row end-->
    </div>
    <!-- /container end-->
</div>


<hr>

<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>Name</th>
        <th>Title</th>
        <th>Status</th>
        <th>Position</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
        @for (user of users; track user.id) {
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <img
                src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
                />
            <div class="ms-3">
              <p class="fw-bold mb-1">{{user.firstName}}</p>
              <p class="text-muted mb-0">{{user.lastName}}</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">{{user.phone}}</p>
          <p class="text-muted mb-0">{{user.email}}</p>
        </td>
        <td>
          <span class="badge badge-success rounded-pill d-inline">Activo</span>
          <span class="badge badge-warning rounded-pill d-inline">No Activo</span>
        </td>
        <td>Senior</td>
        <td>
          <button [routerLink]="['/users', user.id, 'detail']"type="button" class="btn btn-link btn-sm btn-rounded">
            Edit
          </button>
        </td>
      </tr>}
    </tbody>
  </table>

<hr>

<div class="row row-cols-1 row-cols-md-3 g-4">
    @for (user of users; track user.id) {
    <div class="col">
        <div class="card" style="">
            <div class="card-body">
                <h5 class="card-title">{{user.firstName}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{user.lastName}}</h6>
                <p class="card-text">{{user.email}} Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="/users/{{user.id}}/detail" class="card-link">Detalle de usuario</a>
                <!-- <a href="#" class="card-link">Another link</a> -->
            </div>
        </div>
    </div>
    } @empty {
        <p class="card-text">No hay usuarios!!</p>
    }
</div>

<hr>