

<div class="container">
  <div class="row">
    <div class="col-lg-8">

      <h1 class="my-5">Introducir nombre del Hobby</h1>

      <form [formGroup]="hobbyForm" (ngSubmit)="save()">

        <div class="form-floating mb-3">
          <input type="text" class="form-control"
          id="name" formControlName="Name">
          <label for="Name">Hobby</label>
        </div>

        <div class="input-group">
          <input type="file" class="form-control" id="photo" (change)="onFileChange($event)">
          <button class="btn btn-outline-secondary" type="button" id="photoBtn">Button</button>
        </div>

        <button class="w-100 btn btn-primary btn-lg mb-5 mt-5" type="submit">Guardar</button>

      </form>

    </div>
    <div class="col-lg-4">

      @if (photoPreview) {
        <h2 class="my-5">Previsualización foto</h2>
        <img class="img-fluid" [src]="photoPreview">
      }
      @if (!photoPreview && hobby?.photoUrl) {
        <h2 class="my-5">Previsualización foto</h2>
        <img class="img-fluid" [src]="'http://localhost:8080/files/' + hobby?.photoUrl">
      }

    </div>
  </div>
</div>
